.btn.btn-color{
    background-color:#9d71e6 ;
    
}
.btn-color:hover {
  background-color:#A97DF1 ; 
}

.link-color:link{
    color:#9d71e6;
}
.link-color:visited{
    color:#9d71e6;
}
.link-color:hover{
    color: #9d71e6;
}
.link-color:active{
    color:#9d71e6;
}

.background{
    background-color: #cfe6f0c7;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
}